/* colors */
:root {
    --background: #FFD8e7;
    --glass: #FFFDFB;
    --matcha: #A7C68C;
    --shadow: rgba(0,0,0,.08);
    --straw: #FF5798;
    --text:#422616;
}

/* page */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background: linear-gradient(
        180deg,
        #FFD8E7 0%,
        #FFC096 100%
    );
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

h1{
    font-size:4rem;
    font-weight: 700;
    color:var(--text);
}

p{
    margin-top:.75rem;
    color:#27160d;
    letter-spacing:.1rem;
}

.scene{
    text-align:center;
}

.illustration {
    position:relative;
    width:300px;
    height:420px;

    margin:4rem auto 0;
}

/* cup */
.cup {
    position:absolute;
    left:50%;
    bottom:60px;
    transform:translateX(-50%);

    width:170px;
    height:220px;
    border-radius:24px 24px 55px 55px;
    background:var(--glass);

    overflow: visible;
}

.liquid {
    position:absolute;
    bottom:0;
    width:100%;
    height:70%;

    background:var(--matcha);
}

.lid {
    position:absolute;
    top:50px;
    width:100%;
    height:28px;

    background:white;
}

.liquid::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10%;
    width: 120%;
    height: 25px;

    background: var(--matcha);
    border-radius: 50%;
}

.straw {
    position:absolute;
    left:50%;
    top:-90px;
    transform: translateX(-50%);
    transform: rotate(-5deg);

    width:12px;
    height:110px;
    background:var(--straw);
    border-radius: 999px;
}

.shadow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: 220px;
    height: 28px;
    border-radius: 50%;
    background: var(--shadow);
    opacity: .3;
    filter: blur(12px);
}

/* steam animation */
.steam {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.steam span {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--glass);

    animation: steam 4s infinite;
}

.steam span:nth-child(1) {
    animation-delay: 0s;
}

.steam span:nth-child(2) {
    animation-delay: 1.3s;
}

.steam span:nth-child(3) {
    animation-delay: 2.6s;
}

@keyframes steam {
    0%{
        opacity:0;
        transform:translateY(0) scale(.6);
    }

    50%{
        opacity:.7;
    }

    100%{
        opacity:0;
        transform:translateY(-60px) scale(1.4);
    }
}
